body {
  background-image: url("../images/IMG_1623_2.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: teal;
}

p {
  text-align: center;
  font-size: 20px;
}

img {
  width: 300px;
  position: relative;
}

.logoKb {
  width: 225px;
  position: relative;
}

.index-links {
  color: teal;
  font-size: x-large;
}

.res-link {
  color: teal;
  font-size: x-large;
}

.navbar {
  background-color: rgb(0, 128, 128, 0.5);
  height: 225px;
}

.nav-link {
  color: white;
  font-size: 35px;
  margin-top: 100px;
  padding-left: 250px;
}

a:hover {
  color: rgb(85, 83, 83);
}

a:active {
  color: black;
}

.highlight {
  background-color: rgb(220, 220, 220, 0.7);
  padding: 70px 0;
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 50px;
  margin-right: 10px;
}

.contactInfo {
  padding-bottom: 25px;
}

#slide {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
